<tr>
  <td class="check-mail"></td>
  <td class="mail-contact"><%= link_to conversation.originator.username, conversation_path(conversation)%></td>
  <td class="mail-subject"><%= link_to conversation.subject, conversation_path(conversation) %></td>
  <td class="text-right mail-date"><%= link_to conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p"), conversation_path(conversation)  %></td>
</tr>


