<div class="wrapper wrapper-content">
  <div class="row">
    <%= render 'mailbox/left_folders' %>
    <div class="col-lg-9 animated fadeInRight">
      <%= render partial: 'messages' %>
    </div>
  </div>
</div>

