<div class="middle-box text-center loginscreen animated fadeInDown">
	<div>
		<div>
			<h1 class="logo-name">LI+</h1>
		</div>
		<h3>Register for an account leaseIt!</h3>
		<p>As a Realtor on leaseIt, you can view and set appointments for available rental communities!</p>
			<%= render 'form', user: @user %>
	</div>
	
</div>

