<div class="wrapper wrapper-content">
  <div class="row">
    <%= render 'mailbox/left_folders' %>
    <div class="col-lg-9 animated fadeInRight">
      <div class="mail-box-header">
        <% if is_conversation %>
        <h2>Compose Mail</h2>
      </div>
      <div class="mail-box">
        <div class="mail-body">
          <%= render 'conversations/form' %>
        </div>
      </div>
        <% else %>
      <div class="mail-box-header">
        <% if current_page?(action: 'inbox') %>
        <h2>Inbox(Will Fill Later With Count)</h2>     
      </div>
      <div class="mail-box">
        <table class="table table-hover table-mail">
          <tbody>
            <tr>
              <th class="check-mail">Select</th>
              <th class="mail-contact">Sent By</th>
              <th class="mail-subject">Subject</th>
              <th class="text-right mail-date">Recieved</th>
            </tr>
        <% elsif current_page?(action: 'sent')%>
        <h2>Inbox(Will Fill Later With Count)</h2>     
      </div>
      <div class="mail-box">
        <table class="table table-hover table-mail">
          <tbody>
            <tr>
              <th class="check-mail">Select</th>
              <th class="mail-contact">Sent To</th>
              <th class="mail-subject">Subject</th>
              <th class="text-right mail-date">Recieved</th>
            </tr>
        <% end %>        
              <%= render partial: 'conversations/conversation', collection: messages %>
              <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>