<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', building_listing_appointment_path(@appointment) %> |
<%= link_to 'Back', building_listing_appointments_path %>
